code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }

span[class^="styles_sectionIcon_"] {
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 20px;
  display: inline-block;
  padding: 9px 10px;
  position: relative;
  top: 10px;
  left: 5px; }
