span[class^="styles_sectionIcon_"] {
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 20px;
  display: inline-block;
  padding: 9px 10px;
  position: relative;
  top: 10px;
  left: 5px;
}

// .bulma_container__3NasN .bulma_box__1T2Q9 .bulma_hero__1bjCM .bulma_is-primary__1jh74 .bulma_is-paddingless__20Nhu .bulma_is-marginless__1RWGb {
// 	.bulma_hero-body__3rgxx {
		
// 	}
// }